{% load static %}
{% load user_tags %}
{% load post_custom_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'user/pro_style.css' %}">
    <meta charset="UTF-8">
    <title>{% block title %}Profile{% endblock %}</title>
</head>
<body>
<header>{{ request.user.email }}</header>
<nav class="header">
    <ul style="display: flex; justify-content: space-around">
        <li><a class="test" href="{% url 'add_new_post' %}">ADD New Post<span
                class="svg">  {% include 'account/img/new.svg' %}</span></a></li>
        <li><a class="test" href="{% url 'search' %}">Search<span
                class="svg"> {% include 'account/img/search (1).svg' %} </span></a></li>
        <li><a class="test" href="{% url 'logout' %}">Logout<span
                class="svg"> {% include 'account/img/logout.svg' %} </span></a></li>
        <li><a class="test" href="{% url 'edit' request.user.id %}">Edit Profile<span
                class="svg"> {% include 'account/img/resume.svg' %} </span></a></li>
        <li><a class="test" href="{% url 'following_post' %}">Posts <span
                class="svg" > {% include 'account/img/social-media.svg' %} </span></a></li>
        <li><a class="test" href="{% url 'changepass' %}">Change Pass <span
                class="svg"> {% include 'account/img/rotation-lock.svg' %} </span></a></li>

    </ul>
</nav>
<aside>
    <div class="sidebar">
        <ul>
            <li><a href="{% url 'my_follower' %}">Followers :{% follower_cnt request %}</a></li>
            <li><a href="{% url 'my_following' %}">Following :{% following_cnt request %}</a></li>
            <li><a href="{% url 'my_post_list' %}">My Posts :{% p_cnt request.user.id %}</a></li>
            <li><a href="{% url 'Request_List' %}">requests </a></li>
        </ul>
    </div>
</aside>
<main>

    <div class="main">

        {% block content %}
                {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
        {% endblock %}
    </div>
</main>
</footer>
</body>
</html>