{#{% load user_custom_tags %}#}
{% load static %}
{% load post_custom_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'user/pro_style.css' %}">
    <meta charset="UTF-8">
    <title>{% block title %}Profile{% endblock %}</title>
</head>
<body>
<header>
    {#    {% block username %}#}
    {#        {{ username }}#}
    {#    {% endblock %}#}
    {% username %}
</header>
<nav class="header">
    <ul style="display: flex; justify-content: space-around">
        {#        <li><a href="{% url 'logout' %}">Logout</a></li>#}
        {#        <li><a href="{% url 'posts' %}">My Posts</a></li>#}
        {#                <li><a href="{% url 'paged_post_list' %}">all Posts</a></li>#}
        <li><a href="{% url 'my_post_list' %}">My Posts</a></li>
        <li><a href="{% url 'add_new_post' %}">ADD New Post</a></li>
        <li><a href="{% url 'search' %}">Search</a></li>
        <li><a href="{% url 'logout' %}">Logout</a></li>
        {#        <li><a href="{% url 'search' %}"></a><img src="./search.png" style="height: 40px; width: 40px;"></li>#}
    </ul>
</nav>
<aside>
    <div class="sidebar">
        <ul>
            <li><a href="">Followers</a></li>
            <li><a href="">Following</a></li>
            <li><a href="">Posts: {% p_cnt %}</a></li>
        </ul>
    </div>
</aside>
<main>
    <div class="main">
        {% block content %}
        {% endblock %}
    </div>
</main>
<footer class="footer">
    <ul>
        <li></li>
        <li></li>
    </ul>
</footer>
</body>
</html>