{% extends 'user/profile.html' %}
{% block header %}{{ username }}{% endblock %}
{% block content %}
    <form autocomplete="on" action="">
        <input type="text" list="user_list" placeholder="Text to search" name="search_text">
        <datalist id="user_list">
            {% for result in results %}
                <option value="{{ result.email }}">
            {% endfor %}
        </datalist>
        <button type="submit">Search</button>
    </form>
    <h1>search resultts</h1>
{#        <ul>#}
{#            {% for user in users %}#}
{#                <li><a href={% url 'user_detail' user.id %}>{{ user.email }}</a></li>#}
{#            {% endfor %}#}
{#        </ul>#}

        <ul>
            {% for user in users %}
                <li><a href={% url 'user_detail' user.id %}>{{ user.email }}</a></li>
            {% endfor %}
        </ul>


{% endblock %}