{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'user/pro_style.css' %}">
    <meta charset="UTF-8">
    <title>{% block title %}Profile{% endblock %}</title>
</head>
<body>
<header>
    <span>{{ username }}</span>
</header>
<nav class="header">
    <ul style="display: flex; justify-content: space-around">
        {#        <li><a href="{% url 'logout' %}">Logout</a></li>#}
        {#        <li><a href="{% url 'posts' %}">My Posts</a></li>#}
        <li><a href="{% url 'paged_post_list' %}">My Posts</a></li>
        <li><a href="{% url 'add_new_post' %}">ADD New Post</a></li>
        <li><a href="{% url 'search' %}"></a>Search</li>
{#        <li><a href="{% url 'search' %}"></a><img src="./search.png" style="height: 40px; width: 40px;"></li>#}
    </ul>
</nav>
<aside>

</aside>
<main>
    <div class="main">
        {% block content %}
        {% endblock %}
    </div>
</main>
<footer class="footer">
    <ul>
        <li></li>
        <li></li>
    </ul>
</footer>
</body>
</html>